.profile {
    padding: 20px;
    max-width: 600px;
    margin: auto;
  }
  
  .profile h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile p {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .profile strong {
    margin-right: 10px;
  }
  /* Add any necessary styling for ShowProfile component */
.profile-image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

  